.custom-html-content h1 {
  font-size: 2.25rem; /* 36px */
}

.custom-html-content h2 {
  font-size: 1.875rem; /* 30px */
}

.custom-html-content h3 {
  font-size: 1.5rem; /* 24px */
}

.custom-html-content h4 {
  font-size: 1.25rem; /* 20px */
}

.custom-html-content h5 {
  font-size: 1rem; /* 16px */
}

.custom-html-content h6 {
  font-size: 0.875rem; /* 14px */
}

.custom-html-content p {
  font-size: 1rem; /* 16px */
}

.custom-html-content h1,
.custom-html-content h2,
.custom-html-content h3,
.custom-html-content h4,
.custom-html-content h5,
.custom-html-content h6 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.67em 0;
}

.custom-html-content p {
  margin: 1em 0;
}
.custom-html-content ul {
  list-style-type: disc; /* Default bullet points */
  margin: 1em 0; /* Margin for spacing */
  padding-left: 1.5em; /* Indentation */
}

.custom-html-content ol {
  list-style-type: decimal; /* Default numbered list */
  margin: 1em 0; /* Margin for spacing */
  padding-left: 1.5em; /* Indentation */
}

.custom-html-content li {
  margin: 0.5em 0; /* Spacing between list items */
}
